@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');


/* Common Styles */
body{
    font-family: 'Poppins', sans-serif;
    background-color: #9F9F9F;
}

menu{
    display: flex;
    flex-direction: column;
    align-items: center; 
    
}
.container{
    background: #FFFFFF;
    width: 870px;
    height: 679px;
    border-radius: 5px;
    padding: 30px;
}

.section-title{
    font-size: 24px;
    font-weight: 500;
    color: #562EFF;
 
}

hr{
    border: 1px solid #D1D1D1;
}
/* Top Player Style */
.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 27px;
}

.player-info{
    display: flex;
    align-items: center;
}
.players .player-info img{
    Width: 56px;
    Height: 56px;
    margin-right: 18px;
}

/* Top Blogs style */
.blogs{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 26px;
}

.blog{
    display: flex;
    align-items: center;
}

.blog-banner{
    margin-right: 16px;
}

.blog .blog-banner img{
    width: 224px;
    height: 127px;
}